<ul id="polls"></ul>
<form class="form-horizontal">
  <fieldset>
    <legend>Add new poll</legend>
    <div class="control-group">
      <label class="control-label">Title</label>
      <div class="controls">
        <input name="title" type="text">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Time</label>
      <div class="controls">
        <input name="time" type="datetime">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Location</label>
      <div class="controls">
        <input name="location" type="text">
      </div>
    </div>
    <div class="form-actions">
      <button class="btn" type="submit">Submit</button>
    </div>
  </fieldset>
</form>
